
body{
	font-family: cursive;
	/*z-index: -1;*/
	/*margin-left:10px;*/
	background-color:rgba(255, 189, 170,0.3);
}

h1{
	text-align: center;
	color:magenta;
}

h2{
	font-family: cursive;
	font-size:50px;
}

section{
	margin-left:30px;
}

.display-4{
	font-size: 30px;
	font-weight: 6;
}

.divh1{
	display:flex;
	justify-content: center;
	align-content: center;
	color:magenta;
	text-align: center;
	/*text-decoration: underline;*/
	border-bottom: 3px solid pink;
	width:200px;
}

.navbar{
	z-index: 1;
	position:fixed;
	width:100%;
	top:0;

}


/*
.gamegirl{
	padding-left: 10px;
	padding-right: 20px;
	height: 500px;
	width:250px;
}*/

img{
	height:300px;
	width:300px;
	margin:10px;
	/*padding: 5px;*/
	border: 3px solid pink;
	transition:all 0.6s;
}

img:hover{
	transform:scale(1.15);
}

.img1{
	float:left;
}

.img2{
	clear:both;
	float:right;
}

.para2{
	clear:left;
}

p{
	font-weight: 7;

}

p:hover{
color:maroon;
}

.row{
	width:50em;
	
}

label{
	color:maroon;
	font-family:cursive;
}

.col-form-label{
	color:maroon;
	font-family:cursive;
}

.px-4{
	width:50rem;
}

.jumbotron{
	box-shadow: 0px 2px 0px 3px grey;
}